#
# RAM         = ADDR:[0000..7FFF];  /* 32k */
# IO          = ADDR:[8000..9FFF];  /*  8k */
# Not decoded = ADDR:[A000..BFFF];  /*  8k */
# ROM         = ADDR:[C000..FFFF];  /* 16k */
#

MEMORY {
	ZP:         start = $0,    size = $0100, type = rw, define = yes;
    STACK:      start = $0100, size = $0100, type = rw, define = yes;
	RAMLOW:     start = $0200, size = $0200, type = rw, define = yes;
	RAM:        start = $0400, size = $6c00, type = rw, define = yes;
	VIDEORAM:   start = $7000, size = $1000, type = rw, define = yes;
	IO:         start = $8000, size = $2000, type = rw, define = yes;
	ROM:        start = $e900, size = $1700, type = ro, define = yes, fill = yes, fillval = $00, file = "%O.bin";
}

#
# Make all optional so we can use one cc65 config file for ROM and RAM images
#
SEGMENTS {
	ZEROPAGE:         load = ZP,                   type = zp;

	BSS:              load = RAMLOW,               type = bss, define = yes;  # BSS uses now the whole RAMLOW ($0200-$03FF)
    DATA:             load = ROM,    run = RAMLOW, type = rw,  define = yes;

    PRG_CODE:         load = RAM,                  type = rw;
    PRG_DATA:         load = RAM,                  type = rw;

    VIDEO_DATA:       load = VIDEORAM,             type = rw;

	IO:               load = IO,                   type = rw;

	OS_CODE:          load = ROM,                  type = ro;
	OS_DATA_RO:       load = ROM,                  type = ro,  align = $0100;
	OS_DATA_VERSION:  load = ROM,                  type = ro,  align = $0010;
	OS_VECTORS:       load = ROM,                  type = ro,  start = $fffa;
}
