#
# Reflects the memory map of the UE65c02 setup
#   use .segment "CODE" for ROM
#   use .segment "PROG" for RAM
#
# RAM         = ADDR:[0000..7FFF];  /* 32k */
# IO          = ADDR:[8000..9FFF];  /*  8k */
# Not decoded = ADDR:[A000..BFFF];  /*  8k */
# ROM         = ADDR:[C000..FFFF];  /* 16k */
#
MEMORY {
	ZP:         start = $0,    size = $0100, type = rw;
    STACK:      start = $0100, size = $0100, type = rw;
	RAM0:       start = $0200, size = $0200, type = rw;
	RAM:        start = $0400, size = $7c00, type = rw;
	IO:         start = $8000, size = $2000, type = rw, define = yes;
	ROM:        start = $c000, size = $4000, type = ro, fill = yes, fillval = $00, file = "%O.bin";
}

#
# Make all optional so we can use one cc65 config file for ROM and RAM images
#
SEGMENTS {
	ZEROPAGE:  load = ZP,   type = zp;
	SYSRAM:    load = RAM0, type = rw,  define = yes;
	CODE:      load = ROM,  type = ro;
	VERSDATA:  load = ROM,  type = ro,  align=$0100;
	RODATA:    load = ROM,  type = ro,  align=$0100;
	VECTORS:   load = ROM,  type = ro,  start = $fffa;
}
