#
# Reflects the memory map of the UE65c02 setup
#   use .segment "CODE" for ROM
#   use .segment "PROG" for RAM
#
# RAM         = ADDR:[0000..7FFF];  /* 32k */
# IO          = ADDR:[8000..9FFF];  /*  8k */
# Not decoded = ADDR:[A000..BFFF];  /*  8k */
# ROM         = ADDR:[C000..FFFF];  /* 16k */
#
MEMORY {
	ZP:         start = $0,    size = $0100, type = rw, define = yes, file = "";
    STACK:      start = $0100, size = $0100, type = rw, define = yes, file = "";
	RAM0:       start = $0200, size = $0200, type = rw, define = yes, file = "";
	RAM:        start = $0400, size = $7c00, type = rw, define = yes, file = "%O.bin";
	IO:         start = $8000, size = $2000, type = rw, define = yes;
	ROM:        start = $c000, size = $4000, type = ro, define = yes, fill = yes, fillval = $00, file = "%O.rom";
}

#
# Make all optional so we can use one cc65 config file for ROM and RAM images
#
SEGMENTS {
	ZEROPAGE:  load = ZP,   type = zp,  define = yes, optional = yes;
	SYSRAM:    load = RAM0, type = rw,  define = yes, optional = yes;
	PROG:      load = RAM,  type = rw,  define = yes, optional = yes;
	BSS:       load = RAM,  type = bss, define = yes, optional = yes;
	HEAP:      load = RAM,  type = bss, define = yes, optional = yes;
	RWDATA:    load = RAM,  type = rw,  define = yes, optional = yes;
	CODE:      load = ROM,  type = ro,  define = yes, optional = yes;
	RODATA:    load = ROM,  type = ro,  define = yes, optional = yes;
	RODATA_AL: load = ROM,  type = ro,  define = yes, optional = yes, align=$0100;
	VECTORS:   load = ROM,  type = ro,  start = $fffa, optional = yes;
}
